name: Hardhat CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npx hardhat test

    - name: Deploy to Sepolia
      if: github.ref == 'refs/heads/main'
      env:
        SEPOLIA_RPC_URL: ${{ secrets.INFURA_URL }}
        SEPOLIA_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      run: |
        echo "Deploying contract to Sepolia..."
        npx hardhat ignition deploy --network sepolia ignition/modules/Counter.ts
